
@{
    ViewBag.Title = "newIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>

<body>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"></div>
    <ul class="" nav navbar-nav">
        <li><a asp-controller="Home" asp-action="newIndex"> Home </a></li>
        <li><a asp-controller="Contact" asp-action="newIndex"> Contact us </a></li>
    </ul>
</body>
</html>